<!DOCTYPE html>
<html>
  <head>
    <title>Stridecatcher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container px-5 mx-auto mt-28">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= link_to 'Create an account', new_user_registration_path unless current_user %>
      <%= link_to 'Sign in', new_user_session_path unless current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } if current_user %>
      <%= yield %>
    </main>
  </body>
</html>
